@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Bakbak+One&family=Roboto:ital@1&family=Bebas+Neue&family=League+Gothic&family=Ephesis&family=Yantramanav:wght@100&display=swap');
:root {
	--gradient-color: linear-gradient(-224deg, tomato 0, blue 100%);
	--text-color: linear-gradient(-224deg, yellow 0, red 100%);
	}

.contactForm{
    padding: 0 34px;
    font-family: 'Bakbak One', cursive;
    margin: 0px;
}

.contactForm h1{
    font-family: 'Bakbak One', cursive;
    font-size: 17px;
    margin-top: 72px;
    padding: 0px 0;
}

.contactForm form div{
    padding: 0px 0;
    display: flex;
    flex-direction: column;
}

.contactForm form{
    margin: 0 40px;
}

.contactForm form div input{
    width: 38vw;
    height: 5vh;
    border-radius: 16px;
    margin: 28px 0;
    padding: 0px;
}

.contactForm form mb-4 input {
    width: 38vw;
    height: 10vh;
    border-radius: 16px;
    margin: 28px 0;
    padding: 0px;
}

#emailhelp{
    font-size: 11px;
    color: midnightblue;
    margin: 6px 0 0 0;
    padding: 3px;
}

#form-check {
  flex-direction: row;
}

#form-check input{
  width: 24px;
margin: -3px 0;
} 

.mb-3{
    font-size: 2em;
    color: rgb(25 19 212);
}

.blogItem{
   margin: 20px;
   font-family: 'Fira Sans' , sans-serif;
} 

.blogContainer{
    background-color: #af5353;
    margin: 88px;
}
.blogContainer h1{
    font-family: 'Bakbak One', cursive;
    margin: 23px;
}

.blogContainer p{
    font-family: 'Yantramanav', sans-serif;; 
}

.subtitle p{
    width: 17vw;
    margin-left: 4px;
    margin-bottom: 0px;
    color: white;
    font-size: 17px;
}

.subtitle{
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro ul li .nav-link.active{
    background-color: tomato;
} */

.heading h1{
    font-family: 'The Nautigal', cursive;
    color: yellow;
}

.intro .single-progress{
    margin-top: 26px;
    position: relative;
    overflow: hidden;
}

.intro .single-progress .progress{
    height: 4px;
    border-radius: 4px;
    box-shadow: none;
    background-color: wheat;
    overflow: visible;
}

.intro .single-progress .progress-bar{
    background: var(--gradient-color);
}

.intro .single-progress h6{
    color: white;
    text-align: left;
}

.intro .single-progress .label{
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(77, 76, 76);
    font-size: 15px;
}

.intro .tap-pane li{
    color:gray;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    list-style: none;
}

.intro .tab-pane li a{
    text-decoration: none;
    font-weight: 500;
    display: block;
    color: gray;
}
.intro h2{
    font-family: 'Fira Sans' , sans-serif;
    color:white;
    margin: 12px;
}

.intro p{
    font-family: 'Source Code Pro', monospace;  
    color:white;
    margin: 12px;
}

.skillContainer{
    padding: 12px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;  
    font-weight: 900;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
}

.hundred{
    width: 265px;
    background-color: blueviolet;
}

.fifty{
    width: 125px;
    background-color: aqua;
}

.t5{
    width: 75px;
    background-color: yellow;
}

.intro .single-progress .progress-bar{
    height: 4px;
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    overflow: visible;
}

.intro .single-progress .progress-bar{
    background-image: var(--gradient-color);
}

.intro .single-progress h6{
    text-align: left;
}

.intro .single-progress .label{
    position: absolute;
    right:0;
    top:0;
    color: #c6c9d8bf;
    font-size: 15px;
}
.intro, .blogContainer, .contactForm{
     margin: 50px 8px;
} 

.sidebar, .container, .container-md, .container-sm {
    max-width: 2389px;
}

/* .Experience{
    margin-top: 10px;
}
*/

h3, h1{
    color: rgb(7, 189, 221);
    font-family: 'The Nautigal', bold;
}
p{
    color: white;
}
span{
    color: orange;
}


.Education{
    background-color: black;
    margin-top: 63px;
    margin-left: 0px;
    width: 200vw;
    height: 100vh;
    color: yellow;
}
.Education h3{
    font-family: 'The Nautigal', bold;
}

.devPic , img.Me{
    width: 24vw;
    margin-left: 143px;
    margin-bottom: -68px;
    margin-top: 19px;
}

.subtitle h1 {
    margin-top: 0px;
    margin-left: -16px;
    background: -webkit-linear-gradient(#fd9002,#4bfc05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
}

.heading h2{
    font-family: 'The Nautigal', cursive;
    color: yellow;
}

.heading p{
    font-family: 'Source Code Pro', monospace;  
    width: 27vw;
    background: -webkit-linear-gradient(#fbfdfd,#04fcef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.jspk{
    margin-bottom: 388px;
    height: 20vh;
    width: 22vw;
    margin-left: 187px;
}

.blogContainer h1{
    font-family: 'Bakbak One', cursive;;
    font-size: 39px;
    margin-left: 72px;
    margin-top: 60px;
    background: -webkit-linear-gradient(#eb0606,#9df3ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jsp-header {
    margin-left: 43px;
    color: rgb(154, 243, 11);
    margin-top: -529px;
    margin-bottom: 10px;
}

.jsp-header h2 {
	color: rgb(154, 243, 11);
}

.links {
    color:rgb(197, 250, 6);
    margin-left: -200px;
    }
    
    .bton {
        display: inline-block;
        padding: 3px 14px;
        transition: all .4s ease-in-out;
        border-radius: 9px;
        color: rgb(199, 61, 6);
        background-color: antiquewhite;
        border-color: tomato;
        font-family: 'Fira Sans' , sans-serif;
        font-weight: bold;
        font-size: 18px;
        margin: -38px -210px;
        margin-left: 259px;
        margin-bottom: 14px;
        margin-top: 0px;
        cursor: pointer;
        text-decoration: none;
        transition: 166ms ease-in-out red, 150ms ease-in-out green;
    }
    
    .btn-sm{
        font-size: 19px;
        padding: 7px 13px;
        margin-left: 223px;
        margin-bottom: 11px;
    }
    
    .links button:hover {
    background-color: dodgerblue;
    border-color: rgb(197, 250, 6);
    color: rgb(252, 252, 252);
    }

    .jsp-about h3{
        background: -webkit-linear-gradient(#05f3a4,#fdfdfd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Bakbak One', cursive;
        font-size: 40px;
    }

    .jsp-about p{
        font-family: 'Yantramanav', sans-serif; 
        color:rgb(253, 252, 252);
        margin: 107px;
        margin-left: 15px;
        margin-top: 7px;
    }

    img.jspk-m{
        margin-top: -99px;
        height: 250px;
        padding: 67px;
        width: 249px;
        margin-left: -1px;
    }


.contactdetails li{
    list-style: none;
}

.contactdetails li a{
    font-size: 2em;
    color: rgb(107, 104, 104);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.intro{
    background-color: black;
}

.info {
    color: rgb(243, 8, 212);
    margin-bottom: -141px;
    margin-top: 60px;
    margin-left: 1080px;
}

.pspkmovies p{
    font-family: 'Yantramanav', sans-serif;; 
    color:rgb(252, 249, 249);
    margin: -7px;
    margin-left: 15px;
    margin-top: 7px;
}

.jsp_politics p{
    font-family: 'Yantramanav', sans-serif;; 
    color:rgb(250, 248, 248);
    margin: 5px;
    margin-left: 15px;
    margin-top: 7px;
}

.jsp_politics, .pspkmovies h4{
    color: white;

}

.blogContainer {
    background-color: #370bf8;;
}


.foot {
    position: absolute;
    width: 1298px;
    height: 31px;
    margin-bottom: -627px;
    margin-left: -77px;
    background: transparent;
}


.foot .social_icon{
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 36px;
 flex-wrap: wrap;
}

.foot .social_icon li{
	list-style: none;
    margin-left: -45px;
    margin-top: -24px;
    font-size: 18px;
}

.foot .social_icon li a{
 font-size: 24px;
 color: white;
 margin-left: 77px;
 display: inline-block;
 transition: 0.5s;
}

.foot .social_icon li a:hover{
 transform: translateY(-10px);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	background-color: var(--gradient-color);
}

.cta {
	display: inline-block;
	font-family: 'League Gothic', sans-serif;
	padding: 10px 30px;
	color: #f33e07;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: rgb(230, 255, 9);
	background-color: rgb(11, 15, 250);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: rgb(247, 8, 20);
}
.brand h1 span {
	color: rgb(9, 209, 245);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(6, 179, 248, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: 'Playfair Display SC', serif;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid rgb(2, 0, 5);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #ff3407;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
    
/* End Header section */

/* Hero Section */
#self {
	background-image: url(port.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#self::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#self .self {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#self h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	font-family: 'Bebas Neue', cursive;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#self h1:nth-child(1) {
	animation-delay: 1s;
}
#self h1:nth-child(2) {
	animation-delay: 2s;
}
#self h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#self h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgba(24, 180, 252, 0.747);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#self h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#self h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#self h1:nth-child(3) span {
	animation-delay: 2.5s;
}

#self h2 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#self h2:nth-child(1) {
	animation-delay: 1s;
}

#self h2:nth-child(2) {
	animation-delay: 2s;
}
#self h2:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#self h2 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgba(187, 24, 252, 0.863);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#self h2:nth-child(1) span {
	animation-delay: 0.5s;
}
#self h2:nth-child(2) span {
	animation-delay: 1.5s;
}
#self h2:nth-child(3) span {
	animation-delay: 2.5s;
}

#self h3 {
	font-family: 'Bakbak One', cursive;
	font-size: 2em;
	background: -webkit-linear-gradient(#fbfdfd,rgb(206 212 19));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* End Hero Section */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		background: -webkit-linear-gradient(#f305dd,#3761e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	}
}
@keyframes text_reveal_name {
	100% {
		background: -webkit-linear-gradient(#9a1519,#d3e037);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#self h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	.project-img img{
		width: 40%;
		height: 40%;
	}

	.project-info h1 {
		margin-top: 40px;
		font-family: 'Playfair Display SC', serif;
		color: tomato;
	}

	.project-info h2  {
		font-family: 'Bakbak One', cursive;
		color:#0fa7ffbf
	}

	.project-info p  {
		font-family: 'Roboto', sans-serif;
		color: black;
	}

	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

.social-icon {
	margin-left: 100px;
	width: 12%;
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services, .service-bottom, .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
